@font-face {
   font-family: 'Great Vibes';
   src: 
      local('Great Vibes Regular'), local('GreatVibes-Regular'),
      url('../fonts/GreatVibes-Regular.woff2') format('woff2'),
      url('../fonts/GreatVibes-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

