@import "reset.css";
@import "fonts.css";


:root {
    --general-text: #111111;
    --general-bg-white: #ffffff;
    --pink: #C5358C;
    --transition: all 0.3s;
}


.body {
    font-family: "Open Sans Regular", "Arial", sans-serif;
    color: var(--general-text);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0px 50px;
    height: 100%;
    position: relative;
}

.hidden {
    display: none;
}

/* =============================================================================================== */

.header {
    background: #000000;
    color: var(--general-bg-white);
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__start {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__burger-menu:hover {
    color: var(--pink);
    transition: var(--transition);
}

.header__logo {
    padding-left: 40px;
    padding-top: 6px;
    padding-bottom: 7px;
}

.header__nav-list {
    font-family: 'NAMU Pro';
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.header__shopping-bag:hover path {
    stroke: var(--pink);
    transition: var(--transition);
}

/* =============================================================================================== */

.about {
    max-height: 100%;
    background: #dddddd;
}

.about__inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    max-height: 850px;
    overflow: hidden;
}

.about__info {
    padding-top: 250px;
    max-width: 556px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    justify-content: flex-start;
    margin-bottom: 0;
    z-index: 1;
}

.about__title {
    color: var(--general-text);
    font-family: 'NAMU Pro';
    font-size: 46px;
    margin-bottom: 40px;
}



.about__text {
    color: var(--general-text);
    font-size: 26px;
    margin-bottom: 90px;
}

.about__btn {
    color: var(--general-bg-white);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 235px;
    height: 64px;
    background: var(--pink);
    border: 1px solid var(--pink);
    border-radius: 3px;
    margin-bottom: 244px;
}

.about__img {
    overflow: hidden;
}

.about__img img {
    position: absolute;
    left: 652px;
    height: 100%;

}



/* =============================================================================================== */

.catalog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-auto-flow: dense;
    margin-top: 150px;
}

.catalog__inner {
    margin-bottom: 150px;
}

.catalog__item img {
    width: 100%;
    height: 100%;
}

.catalog__item {
    display: block;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0px 4px 41px 0px #0000000d;
}

.catalog__hint {
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 11px;
    transition: all 0.5s;
}

.catalog__item:hover .catalog__hint {
    color: var(--general-bg-white);
    border-radius: 0px 0px 10px 10px;
    background: var(--general-text);
    transition: var(--transition);
}

.catalog__item:hover path {
    fill: var(--general-bg-white);
    transition: var(--transition);
}

.catalog__hint-name {
    padding: 20px 40px 11px;
    font-family: 'NAMU pro';
    font-size: 30px;
}

.catalog__hint-text {
    display: flex;
    padding: 0px 40px 30px;
    font-size: 24px;
    justify-content: center;
    align-items: center;
}

.catalog__hint-text p {
    padding-right: 22px;
}

.catalog__hint-img {
    padding-top: 6px;
}

/* =================================================================================== */

.opinion {
    background: #f8f8f8;
    margin-bottom: 150px;
}

.opinion__inner {
    display: flex;
    position: relative;
}

.opinion__info {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.opinion__title {
    font-family: 'NAMU pro';
    font-size: 42px;
    width: 740;
    margin-top: 150px;
    margin-bottom: 40px;
}

.opinion__list {
    font-size: 18px;
    width: 640px;
    margin-bottom: 160px;
}

.opinion__text {
    margin-bottom: 15px;
    line-height: 140%;
}

.opinion__img {
    position: absolute;
    background: url(/img/opinion/opinion-woman.jpg);
    top: 125px;
    bottom: 0;
    right: -65px;
    width: 700px;
    height: 700px;

}

/* =================================================================================== */

.advantages__main-title {
    font-family: 'NAMU pro';
    font-size: 42px;
    margin-bottom: 60px;
}

.advantages__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 150px;
}

.advantages__grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 41px 0px #0000000d;
    background: var(--general-bg-white);
}

.advantages__grid-item img {
    padding: 26px 0px 15px 0px;

}

.advantages__grid-container {
    width: 276px;
}



.advantages__title {
    font-family: 'NAMU pro';
    font-size: 20px;
    padding-bottom: 13px;
}

.advantages__text {
    font-size: 18px;
    line-height: 134%;
    padding-bottom: 46px;
}

/* =================================================================================== */

.specoffers {
    background: #f8f8f8;
}

.specoffers__main-title {
    font-family: 'NAMU pro';
    font-size: 46px;
    padding-top: 150px;
    margin-bottom: 50px;
}

.specoffers__main-title span {
    color: var(--pink);
}

.specoffers__nav {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 50px;
}

.specoffers__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.specoffers__item {
    font-size: 18px;
    line-height: 200%;
    white-space: nowrap;

    border: 1px solid var(--general-text);
    border-radius: 31px;
}

.specoffers__item:hover {
    color: var(--pink);
    border: 1px solid var(--pink);
    transition: var(--transition);
}

.specoffers__link {
    padding: 0 10px;
}



.specoffers__nav-more {
    display: flex;
    flex-direction: column;
    color: var(--pink);
    font-size: 18px;
    text-align: center;
    background: none;
}

.specoffers__dropdown {
    display: flex;
    justify-content: flex-end;
}



/* =================================================================================== */

.custom-select {
    position: relative;
    margin-bottom: 40px;
}

.custom-select__field {
    width: 273px;
    height: 40px;
    padding: 7px 25px 7px 25px;
    border: 1px solid var(--pink);
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    line-height: 25px;
}

.custom-select__arrow {
    transition: transform 0.25s ease, fill 0.25s ease;
}

.custom-select.open .custom-select__arrow {
    transform: rotate(180deg);
}

.custom-select.open .custom-select__arrow path {
    fill: var(--pink);
}

.custom-select.open .custom-select__text {
    color: var(--pink);

    line-height: 25px;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 10px;
    z-index: 10;
}

.dropdown.show {
    display: block;
}

.dropdown__item {
    padding: 7px 0px 7px 25px;
    cursor: pointer;
    position: relative;
    border-top: 1px solid #cccccc;
    line-height: 25px;
    background: #fdfdfd;
}

.dropdown__item:first-child {
    border-top: none;
    border-radius: 3px 3px 0 0;
}

.dropdown__item:last-child {
    border-radius: 0 0 3px 3px;
}

.dropdown__item:hover {
    background: #f0f0f0;
    transition: var(--transition);
}

.dropdown__item.checked::after {
    content: url(/img/icons/specoffers/check-mark.svg);
    position: absolute;
    right: 10px;
}

/* =================================================================================== */

.specoffers__slider {
    position: relative;
}

.specoffers__wrapper {
    margin-bottom: 130px;
}

.specoffers__slide {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.specoffers__card {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    box-shadow: 0px 4px 41px 0px #0000000d;
    background: var(--general-bg-white);

    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
}

.specoffers__card p {
    padding: 0 40px 25px;
    font-size: 24px;
    flex: 1;
}

.specoffers__img {
    margin-bottom: 40px;
}

.specoffers__info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.specoffers__info-in_stock {
    object-fit: contain;
}

.specoffers__prices {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 40px;
}

.specoffers__new-price {
    font-size: 42px;
}

.specoffers__old-price {
    color: #ababab;
    font-size: 24px;
    text-decoration-line: line-through;
}

.specoffers__add-to-cart {
    display: flex;
    height: 64px;
    bottom: 0;
}

.specoffers__quantity {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    border: 1px solid var(--general-text);
    border-radius: 3px;
    font-size: 24px;
}

.minus,
.plus {
    font-size: 36px;
    cursor: pointer;
}

.specoffers__cart {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    cursor: pointer;
    border-radius: 3px;
    color: #f8f8f8;
    background: var(--general-text);
    font-size: 24px;
}

.specoffers__cart:hover {
    background: var(--pink);
    transition: var(--transition);
}

.specoffers__nav-slider {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 150px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    width: auto;
}


.specoffers__pagination {
    font-size: 24px;
    white-space: nowrap;
    padding-left: 10px;
}

.specoffers__prev,
.specoffers__next {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--general-text);
    border-radius: 3px;
    width: 64px;
    height: 64px;
}

.specoffers__prev:hover,
.specoffers__next:hover {
    border: 1px solid var(--pink);
    transition: var(--transition);
}

.specoffers__prev:hover svg path {
    color: var(--pink);
    fill: var(--pink);
    transition: var(--transition);
}

.specoffers__next:hover svg path {
    color: var(--pink);
    fill: var(--pink);
    transition: var(--transition);
}

.specoffers__prev.disabled,
.specoffers__next.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.specoffers__prev.disabled svg path,
.specoffers__next.disabled svg path {
    fill: #9e9e9e;
}

/* =================================================================================== */

.reviews {
    margin-bottom: 150px;
}

.reviews__title {
    margin-top: 150px;
    font-size: 42px;
    margin-bottom: 20px;
}

.reviews__title span {
    color: var(--pink);
}

.reviews__info {
    display: flex;
    align-items: center;
    gap: 70px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ababab3d;
}

.reviews__button {
    width: 270px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;
    border: 1px solid var(--general-text);
    border-radius: 3px;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
}

.reviews__review {
    display: flex;
    margin-top: 40px;
    gap: 70px;
    border-bottom: 1px solid #ababab3d;
}

.reviews__review-hidden {
    display: none;
}

.reviews__review-name {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.reviews__review-content {
    max-width: 760px;
}

.reviews__review-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.reviews__review-text {
    font-size: 18px;
    font-weight: 300;
    line-height: 140%;
    margin-bottom: 30px;
}

.reviews__review-photo {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.reviews__btn-more {
    display: flex;
    flex-direction: column;
    color: var(--pink);
    font-size: 18px;
    text-align: center;
    background: none;
    margin-bottom: 40px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 270px;
    height: 64px;
    padding: 10px 20px 10px 20px;
    border: 1px solid var(--general-text);
    border-radius: 3px;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    transition: var(--transition);
}

.button:hover {
    color: var(--pink);
    border: 1px solid var(--pink);
}

.button:hover path {
    fill: var(--pink);
}

.reviews__more {
    margin-top: 80px;
}

/* =================================================================================== */

.faq {
    padding: 150px 0px;
    background: #f8f8f8;
}

.faq-title {
    font-size: 42px;
    font-weight: 400;
    line-height: 50px;
    border-bottom: 1px solid #ababab3d;
    padding-bottom: 60px;
}

.faq-item {
    padding: 0px 0;
    border-bottom: 1px solid #ababab3d;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s ease;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    padding: 35px 0px;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.35s ease, opacity 0.35s ease;
    font-size: 15px;
    line-height: 1.6;
    max-width: 900px;
}

.faq-item.active .faq-answer {
    max-height: 500px;
    opacity: 1;
    margin: 50px 0px;
}

.faq-icon {
    transition: transform 0.35s ease, stroke 0.35s ease;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    margin-left: 25px;
}

.faq-item.active .faq-icon {
    transform: rotate(45deg);
}

.faq-item.active .faq-icon path {
    fill: var(--pink);
}

/* =============================================================================================== */

.news {
    margin: 150px 0px;
}

.news__main-title {
    font-size: 42px;
    font-weight: 400;
}

.news__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.news__item {
    margin: 70px 0 80px 0;
}

.news__img {
    margin-bottom: 30px;
    width: 100%;
}

.news__date {
    color: #919191;
    font-size: 18px;
    font-weight: 300;
    line-height: 150%;
    margin-bottom: 20px;
}

.news__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 15px;
}

.news__text {
    font-size: 18px;
    font-weight: 300;
    line-height: 120%;
    margin-bottom: 20px;
}

.news__link {
    width: 118px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 18px;
    color: var(--pink);
}

.news__item-hidden {
    display: none;
}

/* =============================================================================================== */

.feedback {
    padding: 150px 0 110px 0;
    background: #f8f8f8;
}

.feedback__inner {
    display: flex;
    gap: 135px;
}

.feedback__item {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.feedback__title {
    margin-bottom: 50px;
    font-size: 42px;
    font-weight: 400;
    line-height: 50px;
}

.feedback__input {
    border-bottom: 1px solid var(--general-text);
    margin-bottom: 70px;
    background: #f8f8f8;
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
}

#input-text {
    margin-bottom: 30px;
}

.feedback__button {
    background: var(--general-text);
    color: var(--general-bg-white);
    padding: 15px 43px;
    width: auto;
    display: inline-block;
    align-self: flex-start;
    cursor: pointer;
    border-radius: 3px;
    font-size: 24px;
    font-weight: 400;
    transition: var(--transition);
}

.feedback__button:hover {
    background: var(--pink);
    color: var(--general-bg-white);
}

.feedback__button.active {
    background: #ababab;
}

.feedback__agreement {
    display: flex;
    gap: 15px;
    margin-top: 35px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
}

.feedback__checkbox {
    position: absolute;
    opacity: 0;
}

.feedback__checkbox-custom {
    width: 30px;
    height: 30px;
    border: 1px solid var(--general-text);
    border-radius: 3px;
    display: flex;
    align-items: end;
    justify-content: center;
    transition: 0.2s;
    flex: 0 0 auto;
}

.feedback__checkbox:checked+.feedback__checkbox-custom::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("/img/feedback/cheked.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

/* =============================================================================================== */
.footer {
    background: var(--general-text);
    color: var(--general-bg-white);
}

.footer__logo {
    padding: 50px 0 25px 0;
}

.footer__title {
    font-family: 'NAMU Pro';
    font-size: 24px;
    font-weight: 400;
}

.footer__inner {
    padding: 30px 0 60px 0;
    display: flex;
    justify-content: space-between;
}

.footer__inner-media {
    display: flex;
    gap: 15px;
}

.footer__list {
    font-family: 'Open Sans';
    font-weight: 300;
    padding-top: 10px;
    line-height: 25px;
}

.footer__list-item {
    cursor: pointer;
    transition: var(--transition);
}

.footer__list-item:hover {
    color: var(--pink);
}

.footer__grid-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer__grid-item {
    font-family: 'Open Sans';
    font-weight: 300;
}

.footer__grid-item:first-child {
    padding-right: 100px;
}

.footer__grid-item:last-child {
    grid-column: 1 / -1;
    margin-top: auto;
}

.footer__grid-item h5 {
    padding-bottom: 10px;
}

.footer__grid-item h6 {
    padding-bottom: 20px;
}

.footer__grid-item p {
    line-height: 25px;
}

.footer__flex {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.footer__tel-number {
    font-size: 24px;
    font-weight: 400;
    transition: var(--transition);
}

.footer__tel-number:hover {
    color: var(--pink);
}

.footer__social-link {
    padding-right: 20px;
    transition: var(--transition);
}

.footer__social-link:hover path:first-child {
    fill: var(--pink);
}

.footer__grid-link:hover {
    color: var(--pink);
    transition: var(--transition);
}

/* =============================================================================================== */


@media (max-width: 1400px) {

    .opinion__img {
        display: none;
    }

    .opinion__title {
        width: 100%;
        font-size: 230%;
        line-height: 31px;
    }

    .opinion__list {
        width: 100%;
        font-size: 120%;
        margin-bottom: 70px;
    }
}

@media (max-width: 1300px) {
    .footer__logo {
        padding: 30px 0 15px 0;
        scale: 0.7;
        margin-left: -30px;
    }

    .footer__inner {
        padding: 15px 0 60px 0;
    }

    .footer__title {
        font-size: 14px;
    }

    .footer__list-item {
        font-size: 10px;
        line-height: 15px;
    }

    .footer__grid-item {
        font-size: 10px;
    }

    .footer__grid-item p {
        line-height: 15px;
    }

    .footer__grid-item:first-child {
        padding-right: 30px;
    }

    .footer__tel-number {
        font-size: 18px;
    }

    .footer__social-link {
        padding-right: 0px;
        margin-left: -10px;
    }

    .footer__social-link svg {
        scale: 0.6;
    }
}

@media (max-width: 1200px) {

    .header__nav {
        display: none;
    }

    .header__shopping-bag {
        margin-right: 0;
    }

    .about__info {
        padding-top: 80px;
        margin-right: 0px;
    }

    .about__title {
        font-size: 42px;
        font-weight: 400;
    }

    .about__btn {
        margin-bottom: 80px;
    }

    .about__img img {
        left: 700px;
    }

    .catalog {
        grid-template-columns: repeat(3, 1fr);
    }

    .opinion {
        margin-bottom: 100px;
    }

    .opinion__title {
        margin-top: 100px;
    }

    .advantages__grid {
        margin-bottom: 100px;
    }
}

@media (max-width: 1100px) {
    .about__img img {
        left: 620px;
    }
}

@media (max-width: 1000px) {
    .about__title {
        font-size: 38px;
    }

    .about__text {
        font-size: 24px;
    }

    .about__btn {
        margin-bottom: 40px;
    }

    .about__info {
        background-position: 0px;
        max-width: 480px;
    }

    .about__img img {
        left: 540px;
    }

    .advantages__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .advantages__main-title {
        font-size: 230%;
    }

    .advantages__title {
        font-size: 14;
    }

    .advantages__text {
        font-size: 95%;
    }

    .specoffers__card p {
        padding: 0 15px 5px;
        font-size: 18px;
        flex: 1;
    }

    .specoffers__info {
        justify-content: center;
        margin-bottom: 5px;
    }

    .specoffers__info-in_stock,
    .specoffers__info-discount {
        scale: 0.7;
    }

    .specoffers__prices {
        margin-bottom: 10px;
    }

    .specoffers__new-price {
        font-size: 25px;
    }

    .specoffers__old-price {
        font-size: 18px;
    }

    .specoffers__add-to-cart {
        height: 40px;
    }

    .specoffers__add-to-cart {
        display: flex;
        height: 40px;
        bottom: 0;
    }

    .specoffers__quantity,
    .specoffers__cart {
        font-size: 16px;
    }

    .minus,
    .plus {
        font-size: 24px;
    }

    .specoffers__wrapper {
        margin-bottom: 50px;
    }

    .specoffers__prev,
    .specoffers__next {
        width: 40px;
        height: 40px;
    }

    .specoffers__pagination {
        font-size: 18px;
    }
}

@media (max-width: 900px) {
    .about__title {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .about__text {
        font-size: 20px;
        margin-bottom: 40px;
    }

    .about__btn {
        width: 141px;
        height: 36px;
        margin-bottom: 110px;
    }

    .about__img img {
        left: 510px;
    }

    .catalog__hint {
        align-items: center;
    }

    .catalog__hint-name {
        font-size: 22px;
    }

    .catalog__hint-text {
        font-size: 18px;
    }

    .catalog__hint-img svg {
        scale: 0.7;
    }


    .specoffers__main-title {
        padding-top: 80px;
    }

    .specoffers__info-in_stock,
    .specoffers__info-discount {
        scale: 1;
    }

    .specoffers__info-discount {
        display: none;
    }

    .specoffers__nav-slider {
        margin-bottom: 80px;
    }

    .reviews__title {
        font-size: 26px;
        margin-top: 80px;
    }

    .reviews__info {
        gap: 40px;
        padding-bottom: 20px;
    }

    .reviews__info img {
        scale: 0.6;
        margin-left: -30px;
    }

    .reviews__review {
        gap: 40px;
    }

    .reviews__button {
        width: 199px;
        height: 36px;
        font-size: 16px;
    }

    .reviews__review-name {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .reviews__review-grade {
        scale: 0.6;
        margin-left: -35px;
    }

    .reviews__review-title {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .reviews__review-text {
        font-size: 12px;
        margin-bottom: 20px;
    }

    .reviews__review-photo {
        gap: 10px;
    }

    .reviews__review-img {
        width: 61px;
        height: 61px;
    }

    .reviews__btn-more {
        font-size: 14px;
    }

    .reviews__more {
        margin-top: 40px;
        font-size: 16px;
    }

    .reviews__more svg {
        scale: 0.6;
    }

    .button {
        width: 196px;
        height: 36px;
    }

    .reviews {
        margin-bottom: 80px;
    }

    .faq {
        padding: 80px 0px;
    }

    .faq-title {
        font-size: 26px;
        line-height: 31px;
        padding-bottom: 35px;
    }

    .faq-question {
        font-size: 16px;
        padding: 20px 0px;
    }

    .faq-item.active .faq-answer {
        max-height: 500px;
        opacity: 1;
        margin: 25px 0px;
    }

    .faq-icon {
        width: 24px;
        height: 24px;
    }

    .news {
        margin: 80px 0px;
    }

    .news__main-title {
        font-size: 26px;
    }

    .news__item {
        margin: 30px 0 45px 0;
    }

    .news__date {
        font-size: 12px;
    }

    .news__title {
        font-size: 14px;
    }

    .news__text {
        font-size: 12px;
    }

    .news__link {
        font-size: 12px;
    }

    .news__link img {
        width: 65%;
    }

    .news__more {
        margin-top: 40px;
        font-size: 16px;
    }

    .news__more svg {
        scale: 0.6;
    }

    .feedback {
        padding: 80px 0 80px 0;
    }

    .feedback__inner {
        gap: 100px;
    }

    .feedback__title {
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 25px;
    }

    .feedback__input {
        margin-bottom: 40px;
        font-size: 12px;
    }

    #input-text {
        margin-bottom: 20px;
    }

    .feedback__button {
        padding: 10px 30px;
        font-size: 16px;
    }

    .feedback__agreement {
        margin-top: 20px;
        font-size: 10px;
    }

    .feedback__checkbox-custom {
        width: 20px;
        height: 20px;
    }

    .feedback__checkbox:checked+.feedback__checkbox-custom::before {
        width: 14px;
        height: 14px;
    }
}

@media (max-width: 800px) {

    .container {
        padding: 0px 70px;
    }

    .about__info {
        padding-top: 60px;
        max-width: 363px;
    }

    .about__btn {
        margin-bottom: 60px;
    }

    .about__title {
        font-size: 25px;
    }

    .about__text {
        font-size: 18px;
    }

    .about__img img {
        left: 430px;
        top: unset;
    }

    .opinion {
        margin-bottom: 50px;
    }

    .opinion__title {
        font-size: 170%;
        margin-top: 50px;
    }

    .opinion__list {
        margin-bottom: 20px;
        font-size: 100%;
    }

    .advantages__main-title {
        font-size: 170%;
    }

    .advantages__grid {
        margin-bottom: 50px;
    }

    .advantages__grid-container img {
        transform: scale(0.7);
        padding: 0px 0px 0px 0px;
        margin-bottom: -15px;
    }

    .advantages__info {
        margin-bottom: 0;
    }

    .advantages__title {
        font-size: 15px;
        padding: 0px 0px 10px;
    }


    .advantages__text {
        font-size: 80%;
        padding-bottom: 30px;
    }

    .specoffers__quantity {
        display: none;
    }

    .specoffers__cart {
        width: 100%;
    }

    .feedback__inner {
        gap: 70px;
    }

    
}

@media (max-width: 700px) {

    .container {
        padding: 0px 20px;
    }

    .about__info {
        position: absolute;
    }

    .about__img {
        height: 30vh;
        width: 100%;
    }

    .about__img img {
        position: relative;
        left: 40vw;
        top: 4vh;
    }

    .catalog {
        grid-template-columns: repeat(2, 1fr);
    }

    .catalog__hint-name {
        font-size: 22px;
    }

    .catalog__hint-text {
        font-size: 17px;
    }

    .footer__inner {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 625px) {
    .opinion__title {
        font-size: 141%;
        margin-top: 40px;
    }

    .opinion__list {
        font-size: 100%;
        margin-bottom: 20px;
    }

    .opinion__text {
        font-size: 100%;
    }

    .advantages__grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .advantages__grid-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .advantages__info {
        display: grid;
        align-content: center;
        justify-content: start;
        margin-left: -70px;
    }

    .advantages__main-title {
        font-size: 160%;
    }

    .advantages__text {
        padding-bottom: 0;
    }
}

@media (max-width: 600px) {
    .catalog {
        margin-top: 80px;
    }

    .about__inner {
        justify-content: center;
    }

    .about__info {
        align-items: center;
        position: unset;

    }

    .about__title {
        text-align: center;
    }

    .about__text {
        text-align: center;
    }

    .about__img {
        display: none;
    }

    .specoffers__main-title {
        font-size: 40px;
    }

    .specoffers__card {
        flex: 1 1 calc(50% - 10px);
        max-width: calc(50% - 15px);
    }

    .news__inner {
        grid-template-columns: 1fr 1fr;
    }

    .feedback__inner {
        flex-direction: column;
    }

    .feedback__agreement {
        align-items: center;
    }
}

@media (max-width: 500px) {

    .catalog__inner {
        margin-bottom: 60px;
    }

    .catalog__hint-name {
        padding: 10px 12px 8px;
        font-size: 19px;
    }

    .catalog__hint-text {
        padding: 0px 10px 16px 12px;
        font-size: 17px;
    }

    .catalog__hint-text p {
        padding-right: 10px;
    }

    .catalog__hint-img {
        transform: scale(0.5);
    }

    .opinion__title {
        font-size: 120%;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .opinion__list {
        margin-bottom: 10px;
        font-size: 85%;
    }

    .advantages__main-title {
        font-size: 130%;
        margin-bottom: 35px;
    }

    .specoffers__nav {
        flex-wrap: wrap;
        gap: 15px;
    }

    .specoffers__main-title {
        font-size: 33px;
    }
}

@media (max-width: 450px) {

    .advantages__grid-container img {
        transform: scale(0.5);
        margin-top: -15px;
        margin-left: -50px;
    }

    .advantages__info {
        /* margin-left: -60px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px; */
        margin: 10px 10px 10px -60px;
    }

    .catalog__hint-name {
        font-size: 18px;
    }

    .specoffers__main-title {
        font-size: 27px;
    }

    .specoffers__old-price {
        display: none;
    }

    .specoffers__info-in_stock {
        scale: 0.8;
    }
}